*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 4000px;
}
.container{
    width: 100%;
    min-height: 100vh;
    /* padding-left:8% ;
    padding-right: 8%; */
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgb(163, 163, 163);
}

.logo{
    width: 50px;
    cursor: pointer;
    /* margin: 30px 0; */
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom:20px ;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
    margin-top: -15px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav ul li a:hover{
    color: rgb(0, 107, 126);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    margin-top: 100px;
    padding-left: 8%;
    padding-right: 8%;
}

.col-1{
    flex-basis: 47%;
    position: relative;
    margin-left:50px ;
}

.col-1 .h2-atas{
    font-size: 70px;
}

.col-1 h3{
    font-size: 28px;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 16px;
    font-weight: 100;
    color: rgb(97, 97, 97);
}

.col-1 h4{
    font-size: 20px;
    color: rgb(97, 97, 97);
    margin: 20px 0 10px;
}

.col-1 button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background:linear-gradient(to right,#0077ff,#09daff);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button img{
    width: 15px;
    padding-left: 15px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1::after{
    content: "";
    width: 10px;
    height: 60%;
    background: linear-gradient(to right,#3191ff,#09daff);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .work{
    width: 90%;
    margin-left: 100px;
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 5;
}
.sticky + .row{
    padding-top: 90px;
}

@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background:linear-gradient(to right,#3191ff,#09daff); 
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 20px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
        font-size: 14px;
    }
    .menu-icon{
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0 ;
    }
    .col-1 .h2-atas{
        font-size: 56px;
    }
    .col-1 .h2-bawah{
        font-size: 40px !important;
    }
    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .work{
        width: 400px;
        margin-left: 20px;
    }
    .col-1 h2{
        font-size: 40px;
    }
}


.moving-page{
    padding-top: 15%;
}

.parallax{
    background-image: url("image/shapes.jpg");
    min-height: 120px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

.welcome {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0px 10px 25px #888, 0px -10px 25px #888;;
    padding-top: 60px;
    padding-bottom: 60px;
}

.welcome-col01{
    flex-basis: 40%;
    position: relative;
    vertical-align: text-top;
}

.welcome-col02{
    flex-basis: 45%;
    position: relative;
}

.welcome ul{
    text-align: center;
}
.welcome ul li{
    margin-top: 20px;
    list-style: none;
    border: 1px #3191ff solid;
}

.welcome-col01 ul li a{
    text-decoration: none;
    color: #3191ff;
    font-size: 20px;
}

.welcome-col02 h1,.welcome-col02 h3{
    text-align: right;
}


.iframe-container{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


@media only screen and (max-width:700px){
    .welcome{
        flex-direction: column-reverse;
    }
    .welcome .welcome-col01{
        margin-top: 20px;
    }
}

@media only screen and (width:1920px){
    .welcome-col01 h1{
        padding-bottom: 20px;
    }
    .welcome-col01 h3{
        padding-bottom: 30px;
    }
    .welcome-col01 .welcome-text{
        padding-bottom: 50px;
        font-size: 20px;
    }
    
}
.container-image-galery{
    width: 68%;
    margin: 100px auto 50px;
}


.image-galery {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
@font-face{
    font-family: "Prototype";
    src: url(font/Prototype.ttf);
    font-style: normal;
    font-weight: 100;
}

.image-galery-title{
    align-items: center;
    padding-bottom:50px ;
}
.image-galery-title h1{
    text-align: center;
}
.image-galery-title a{
    font-family: Prototype;
    font-weight: bold;
    font-size: 40px; 
}

.image-galery-img{
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
}

.image-galery-img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.5);
}

.full-image{
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 6;
    
}

.full-image img{
    width: 90%;
    max-width: 500px;
}

.full-image span{
    position: absolute;
    top: 15%;
    right: 24%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.container-pilihan-jasa{
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
    /* flex-direction: row; */
    flex-basis: 60%;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 0; */
}

.kartu-pertama{
    text-align: center;
    flex-basis: 25%;
}

.ukuran-img-kartu{
    width: 60%;
}

.kartu-pertama h2{
    font-size: 30px;
    margin-top:20px;
    margin-bottom:10px ;
}
.kartu-pertama p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.836);
    padding-bottom: 20px;
}

.kartu-tombol{
    position: relative;
    background:linear-gradient(to right,#0077ff,#09daff);
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s;
}

.kartu-tombol:hover{
    background:linear-gradient(to right,#09daff,#0077ff);
    font-size: 14px;
}

@media only screen and (max-width:700px){
    .container-pilihan-jasa{
        flex-direction: column;
    }
    .kartu-pertama{
        margin-bottom: 40px;
    }
}
.caramudah-container{
    align-items: center;
    margin: auto;
    width: 80%;
    margin-top: 20px;
}


.caramudah-title {
    padding: 60px 0;
    text-align: center;
}

.caramudah-title a{
    font-family: Prototype;
    font-size: 38px;
}

.caramudah-content-row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto ;
    width: 80%;
}
.caramudah-content-row > div{
    text-align: center;
}

.caramudah-video-col01{
    flex-basis: 30%;

}

.feature-vid{
    width: 100%;
    margin: auto;
    position: relative;
}

.client-container{
    padding-top: 13%;
    align-items: center;
    margin: 30px 0;
    margin-top: 20px;
}

.client-row{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    width: 80%;
}

.client-title a{
    font-family: Prototype;
    font-size: 38px;
}

/* .client-container p{
    font-size: 20px;
    color: gray;
    padding: 5%;
    text-align: center;
} */


@media only screen and (max-width:700px){
    .caramudah-content-row {
        flex-direction: column;
    }
}


/* make slideshow for testimony */

.slideshow-container {
    margin-top: 30px;
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}



.footer-row {
    padding-top: 5px;
    width: 100%;
    background-color: rgb(15, 15, 15);
}

.footer-content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.footer-box{
    width: min-content;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 80px;
    background-color: rgb(53, 53, 53)
}
.footer-social{
    position: absolute;
    padding-top:50px ;
}
.footer-social img{
    width: 20%;

}

.footer-textlink{
    color: white;
}


.footer-blank{
    width: 100%;
    height: 50px;
    background-color: rgb(53, 53, 53)
}
