*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 2000px;
}
.container{
    width: 100%;
    min-height: 100vh;
    /* padding-left:8% ;
    padding-right: 8%; */
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgb(163, 163, 163);
}

.logo{
    width: 50px;
    cursor: pointer;
    /* margin: 30px 0; */
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom:20px ;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav ul li a:hover{
    color: rgb(0, 107, 126);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding-left: 8%;
    padding-right: 8%;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left:50px ;
}

.col-1 h2{
    font-size: 54px;
}

.col-1 h3{
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 16px;
    font-weight: 100;
    color: rgb(97, 97, 97);
}

.col-1 h4{
    font-size: 20px;
    color: rgb(97, 97, 97);
    margin: 20px 0 10px;
}

.col-1 button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background:linear-gradient(to right,#0077ff,#09daff);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button img{
    width: 15px;
    padding-left: 15px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1::after{
    content: "";
    width: 10px;
    height: 60%;
    background: linear-gradient(to right,#3191ff,#09daff);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .work{
    width: 90%;
    margin-left: 100px;
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 5;
}
.sticky + .row{
    padding-top: 90px;
}

@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background:linear-gradient(to right,#3191ff,#09daff); 
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 20px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
        font-size: 14px;
    }
    .menu-icon{
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0 ;
    }
    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .work{
        width: 400px;
        margin-left: 20px;
    }
    .col-1 h2{
        font-size: 40px;
    }
}


.moving-page{
    padding-top: 15%;
}

.parallax{
    background-image: url("image/shapes.jpg");
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.welcome-col01{
    flex-basis: 50%;
    position: relative;
}

.welcome-col02{
    flex-basis: 50%;
    position: relative;
}

.welcome ul{
    text-align: center;
}
.welcome ul li{
    margin-top: 20px;
    list-style: none;
    border: 1px #3191ff solid;
}

.welcome-col01 ul li a{
    text-decoration: none;
    color: #3191ff;
    font-size: 20px;
}

.welcome-col02 h1,.welcome-col02 h3{
    text-align: right;
}
